.header {
    background-color: bisque;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.cart-link {
    text-decoration: none;
    color: #000;
    font-size: large;
    font-weight: bold;
}

.cart-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.logo {
    font-weight: "boldest";
    font-size: 38px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.search-bar {
    flex: 40% 0;
}

.search-bar input {
    padding: 12px 10px;
    width: 50%;
    transition: all 0.6s ease-in-out;
    border: 2px solid #aaa;
    outline: none;
}

.search-bar input:focus {
    width: 100%;
    border-color: #000;
    border-radius: 8px;
}

@media only screen and (max-width: 968px) {
    .search-bar {
        flex-grow: 1 60%;
    }
}